<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{movie_name}}</h1>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='images/10_things_i_hate_about_you_poster.jpeg') }}" alt="Movie Image">
        </div>
        <div class="links">
            <h2>My Learning</h2>
            <a href="/mymovies/10_things_i_hate_about_you/script">Script</a>
            <a href="/mymovies/10_things_i_hate_about_you/vocabulary">Vocabulary List</a>
            <a href="/mymovies/10_things_i_hate_about_you/discussionquestions">Discussion Questions</a>
        </div>
    </div>
</body>
</html>
