{% extends "layout.html" %}
{% block content %}

    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Join Today</legend>
                <dir class="form-group">s
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-contorl form-control-lg") }}
                </dir>
                <dir class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-contorl form-control-lg") }}
                </dir>
                <dir class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-contorl form-control-lg") }}
                </dir>
            </fieldset>
        </form>

    </div>
    
{% endblock content%}
